body {
    font-family: Old English Text MT;
}

.flex-contanier {
    display: flex;
    padding: 20px;
    background-color: #025955;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-item {
    padding: 60px 15px;
    background-color: #FDE8CD;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
}