body {
    font-family: Old English Text MT;
}

.fex-contanier {
    display: flex;
    height: 400px;
    padding: 20px;
    background-color: #025955;
    border-radius: 10px;
    align-items: stretch;
}

.flex-item {
    padding: 60px 15px;
    background-color: #FDE8CD;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
}