body {
    font-family: sans-serif;
}

.flex-contanier {
    display: flex;
    padding: 20px;
    background-color: #025955;
    border-radius: 10px;
}

.flex-item {
    padding: 60px 15px;
    background-color: #FDE8CD;
    font-weight: bold;
    
}